* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1vh;
  background: #eadbcd;
  --red: #c53321;
  --yellow: #f0cb0b;
  --white: rgba(255, 255, 255, 0.7);
  --purple: #c06c98;
  --orange: #dc885a;
  --green: #368e59;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 16px;
}
a {
  text-decoration: none;
}
.container {
  height: 100vh;
  margin: 4rem;
}
nav {
  display: grid;
  grid-template-columns: 17rem 1fr;
  gap: 16px;
  align-items: center;
}
.navlinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  width: 16rem;
}

.main {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 6rem;
}

/* main page post list */
.post-title {
  color: rgb(26, 26, 26);
  font-weight: bold;
}
.post-title:hover {
  background-color: var(--white);
}
.post-title::after {
  content: "→";
  margin-left: 16px;
}

/* buttons */
.btn-clear {
  border: none;
  background: transparent;
}

.btn {
  font-family: "Montserrat", sans-serif;
  padding: 16px 60px 16px 60px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.4s;
}

.top {
  background-color: var(--purple);
  color: var(--white);
}
.top:hover {
  background-color: transparent;
  color: rgb(26, 26, 26);
}
.new {
  color: var(--white);
  background-color: var(--orange);
}
.new:hover {
  background-color: transparent;
  color: rgb(26, 26, 26);
}
.hot {
  background-color: var(--red);
  color: var(--white);
}
.hot:hover {
  background-color: transparent;
  color: rgb(26, 26, 26);
}

.search {
  background-color: var(--green);
  color: var(--white);
}
.search:hover {
  background-color: transparent;
  color: rgb(26, 26, 26);
}

/* Posts */
.title {
  font-size: 42px;
  margin-bottom: 1em;
  background-color: var(--white);
}

.long-text {
  font-size: 24px;
  line-height: 40px;
  overflow-wrap: break-word;
}

.replies {
  font-size: 36px;
  font-weight: 600;
  background: var(--yellow);
}

.each-post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  grid-column-gap: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.comments {
  overflow: scroll;
  height: 800px;

  padding: 20px;
}

.author {
  font-style: italic;
}

@media only screen and (max-width: 805px) {
  .navlinks {
    display: grid;
    grid-template-columns: 1fr;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 16px;
  }
}
