body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 16px;
}
a {
  text-decoration: none;
}
.container {
  height: 100vh;
  margin: 2rem;
}
nav {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 16px;
}
.navlinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  width: 200px;
}

.main {
  margin: 2rem;
}

/* post list */
.post-title {
  color: rgb(26, 26, 26);
  font-weight: bold;
}
.post-title:hover {
  color: #c06c98;
}
.post-title::after {
  content: "→";
  margin-left: 16px;
}

/* buttons */
.btn-clear {
  border: none;
  background: transparent;
}

.btn {
  padding: 16px 60px 16px 60px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.4s;
}

.top {
  border: 2px solid #c06c98;
}
.top:hover {
  background-color: #c06c98;
  color: white;
}
.new {
  border: 2px solid #dc885a;
}
.new:hover {
  background-color: #dc885a;
  color: white;
}
.hot {
  border: 2px solid #d31c34;
}
.hot:hover {
  background-color: #d31c34;
  color: white;
}

.search {
  border-bottom: 2px solid #368e59;
}
.search:hover {
  background-color: #368e59;
  color: white;
}

@media only screen and (max-width: 805px) {
  .navlinks {
    display: grid;
    grid-template-columns: 1fr;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 16px;
  }
}
