html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  /* background: linear-gradient(to bottom, #aaffa9, #11ffbd); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.logo {
  width: 50px;
  height: 50px;
}

.flex {
  display: flex;
  justify-content: left;
  align-items: left;
}

.navlinks {
  display: flex;
  justify-content: space-around;
}
.btn-clear {
  border: none;
  background: transparent;
}

.btn {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.top {
  border: 2px solid #c06c98;
}
.new {
  border: 2px solid #dc885a;
}
.hot {
  border: 2px solid #d31c34;
}

.search {
  border-bottom: 2px solid #368e59;
}

.links {
  width: 100%;
}
